In [4]:
import pandas as pd

world_countries_data_frame = pd.read_csv('countries of the world.csv')

In [3]:
world_countries_data_frame.describe()

         Population  Area (sq. mi.)  GDP ($ per capita)
count  2.270000e+02    2.270000e+02          226.000000
mean   2.874028e+07    5.982270e+05         9689.823009
std    1.178913e+08    1.790282e+06        10049.138513
min    7.026000e+03    2.000000e+00          500.000000
25%    4.376240e+05    4.647500e+03         1900.000000
50%    4.786994e+06    8.660000e+04         5550.000000
75%    1.749777e+07    4.418110e+05        15700.000000
max    1.313974e+09    1.707520e+07        55100.000000

In [7]:
world_countries_data_frame.dtypes

Country                                object
Region                                 object
Population                              int64
Area (sq. mi.)                          int64
Pop. Density (per sq. mi.)             object
Coastline (coast/area ratio)           object
Net migration                          object
Infant mortality (per 1000 births)     object
GDP ($ per capita)                    float64
Literacy (%)                           object
Phones (per 1000)                      object
Arable (%)                             object
Crops (%)                              object
Other (%)                              object
Climate                                object
Birthrate                              object
Deathrate                              object
Agriculture                            object
Industry                               object
Service                                object
dtype: object

In [8]:
print('How many observations for the field Country: %d' % len(world_countries_data_frame['Country']))

How many observations for the field Country: 227

In [13]:
print('How many observations for the field Other: %d' % len(world_countries_data_frame["Other (%)"]))

How many observations for the field Other: 227

In [14]:
# How many empty, null values for the field Other
world_countries_data_frame["Other (%)"].count()

225

In [15]:
world_countries_data_frame["Other (%)"]

0      87,65
1      74,49
2      96,53
3         75
4      97,78
5      97,35
6        100
7      77,27
8      87,21
9      80,15
10     89,47
11     93,41
12     82,23
13     77,66
14      98,8
15     91,55
16     34,82
17     60,46
18     69,85
19     76,32
20     95,44
21     79,52
22        80
23     96,48
24     97,14
25     83,44
26     99,34
27     92,15
28     73,33
29     98,67
       ...
197    70,35
198       75
199    92,47
200     94,4
201    64,18
202    51,64
203    33,33
204    76,22
205     68,4
206    65,76
207    96,14
208    97,67
209      100
210    63,47
211    42,18
212    97,15
213    76,33
214    80,65
215    92,34
216    88,34
217    90,16
218    96,13
219    74,08
220     85,3
221       70
222    64,13
223    99,98
224    96,98
225     92,9
226    91,34
Name: Other (%), Length: 227, dtype: object